.cf{
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: slide 5s infinite;
    margin-top: 100px;
    width: 90vw;
}
.cf .div1{
    background-color: var(--main-color);
    padding: 40px;

    border-radius: 50%;
}
.cf .div2{
    background-color: var(--main-color);
    height: 50px;
    width: 90%;
    border-radius: 200px 200px;
}
.cf h1{
    width: 200px;
    text-align: center;
}

@keyframes slide {
    0%{transform: translateX(-100%);}
    20%{transform: translateX(50px)}
    85%{transform: translateX(50px)}
    90%{transform: translateX(-20%)}
    100%{transform: translateX(100%)}
}