.navbar{
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.nav-wrapper span{
    padding: 10px;
    margin: 10px;
}
@media (max-width:820px){

    .navbar{
        display: none;
        right: 0;
        top: 0;
        width: 80vw;
        margin-top: 0;
        z-index: 10;
        background-color: white;
        padding: 20px;
        height: 100vh;
        position: fixed;
        
    }
    .nav-wrapper{
        display: flex;
        flex-direction: column;

    }
}
